.produtos-container header {
  padding: 10px 0px;
}

.produtos-container header button {
  margin-right: 10px;
}

.produtos-container main {
  display: flex;
  gap: 10px;
  justify-content: center;

  padding-bottom: 40px;
}

.form-produto {
  width: 80%;
  margin-top: 20px;
  padding: 30px;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;

  background-color: var(--backgroundPrimary);
  border-radius: 6px;
  box-shadow: 0px 0px 10px var(--boxShadow);
}

.form-produto > h1 {
  grid-column: 1 / span 2;
  color: var(--textPrimary);
  font-size: 1.8rem;
}

.span2 {
  grid-column: 1 / span 2;
}
