.produtos-container header {
  padding: 10px 0px;
}

.produtos-container header button {
  margin-right: 10px;
}

.produtos-container main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  margin-top: 10px;
  place-items: center;

  padding-bottom: 40px;
}

.card-produto {
  background-color: var(--backgroundPrimary);
  width: 100%;
  min-width: 300px;
  max-width: 350px;
  position: relative;

  border-radius: 6px;
  box-shadow: 0px 0px 2px 2px var(--boxShadow);

  cursor: pointer;
  transition: box-shadow 0.2s;
}

.card-produto:hover {
  box-shadow: 0px 0px 20px 10px var(--boxShadow);
}

.card-produto figure {
  margin: 0;
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;

  border-bottom: 1px solid var(--backgroundSecondary);
}

.card-produto figure img {
  width: 100%;
  max-height: 100%;

  border-radius: 6px 6px 0px 0px;

}

.card-produto figure button{
  position:absolute;
    z-index:1;
    padding:0;
    margin-left: 260px;
    margin-top: -100px;
}

.card-produto figure button {
  padding: 8px 16px;
  background-color: transparent;
  height: 40px;

  border: 2px solid transparent;
  color: rgba(255, 0, 0, 0.616);
  border-radius: 6px;
  font-weight: bold;
  font-size: 14px;

  cursor: pointer;
}

.card-produto figure button:focus {
  outline: none;
}

.card-produto figure button:hover {
  box-shadow: 0px 2px 10px 5px var(--boxShadow);
  border: 2px solid rgba(255, 0, 0, 0.377);

  transition: 0.2s;
}

.card-produto figure button:active {
  color: red;
}

.card-produto section {
  display: flex;
  flex-direction: column;
  padding: 10px;

  color: var(--textPrimary);
}

.card-produto section .preco{
  font-size: 26px;
}

.card-produto section .preco > em{
  font-size: 14px;
  color: green;
  text-decoration: line-through;
}

.card-produto section .parcelamento {
  font-size: 14px;
}

.card-produto section .parcelamento em {
  color: var(--accentSecondary);
  font-style: normal;
}

.card-produto section .categoria {
  margin-top: 10px;
  font-size: 14px;
  color: var(--textSecundary);
}

.card-produto section .categoria em {
  padding: 4px;
  background-color: var(--backgroundSecondary);
  border-radius: 4px;
  margin-right: 4px;
}
.card-produto section .descricao {
  margin-top: 16px;
  font-size: 16px;
  color: var(--textSecundary);
}

.acoes-produtos{
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 10px;
  display: flex;
  gap: 5px;

  background-color: var(--overlay);
  border-radius: 6px;

  z-index: 1;
}

.acoes-produtos img{
  width: 15px;
}

.acoes-produtos img:hover{
  transition: 0.2s;
  transform: rotate(360deg) scale(1.1);
}